PORT=4000
SUPABASE_URL=
SUPABASE_API_KEY=
SUPABASE_JWT_SECRET=
GOOGLE_PLAY_PACKAGE_NAME=com.ovbusiness.financeflow
GOOGLE_PLAY_CLIENT_EMAIL=
GOOGLE_PLAY_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_PLAY_RTND_TOKEN=
GOOGLE_PLAY_RTND_AUDIENCE=
GOOGLE_PLAY_RTND_SERVICE_ACCOUNT=
